<!----------reviewarea---------->
<section id="item_reply_area">
    <div class="reply_wrapper">
        <% if(reply){ for(let i=0; i<=reply.length-1; i++){ %>
            <div class="reply_first">
                <% if(i> 0 ){ %>
                    <hr class="reply_division_line">
                    <% } %>
                        <div class="reply_info">
                            <span class="reply_id">
                                <%=reply[i].reply_name %>
                            </span><span class="reply_time">
                                <%=reply[i].reply_date %>
                            </span>
                            <% if(login_id !=reply[i].reply_id){ %>
                                <span style="visibility: hidden;">
                                    <% } %>
                                        <span class="reply_update">
                                            <a
                                                href="iteminfo/delete?item_id=<%=item_info[0].item_id%>&replyIdx=<%=reply[i].reply_idx%>">삭제</a>
                                        </span>
                                        <% if(login_id !=reply[i].reply_id){ %>
                                </span>
                                <% } %>
                        </div>
                        <div class="reply_style">
                            <p>
                                <%= reply[i].reply_contents %>
                            </p>
                        </div>
                        <button onClick='openReplyArea(<%= reply[i].reply_idx%>)'
                            class='second_reply_button'>답글</button>


                        <div class="second_reply">

                            <% for(let j=0; j<=secondReply.length-1; j++){ %>
                                <% if(secondReply[j].reply_idx==reply[i].reply_idx){%>
                                    <hr class="reply_division_line">
                                    <div class="second_reply_grid">
                                        <div class="left_area">
                                            <p>⤷</p>
                                        </div>
                                        <div class="reply_area">
                                            <span class="reply_id_area reply_id">
                                                <%=secondReply[j].reply_id %>
                                            </span>
                                            <span class="reply_time">
                                                <%=secondReply[j].reply_date%>
                                            </span>
                                            <span style="">
                                                <span class="reply_update">
                                                    <a
                                                        href="iteminfo/secondDelete?item_id=<%=item_info[0].item_id%>&reply_idx=<%=reply[i].reply_idx%>&secondRe_idx=<%=secondReply[j].par_comment%>">삭제</a>
                                                </span>
                                            </span>
                                        </div>
                                        <div class="reply_style">
                                            <p>
                                                <%=secondReply[j].reply_contents%>
                                            </p>
                                        </div>
                                    </div>

                                    <% } } %>
                                        <div style="display:none" id="second_reply<%=reply[i].reply_idx%>">
                                            <hr class="reply_division_line">
                                            <div class="second_reply_grid">

                                                <div class=" left_area">
                                                    <p>⤷</p>
                                                </div>
                                                <div class="reply_area">
                                                    <p class="reply_id_area">
                                                        <%= login_id %>
                                                    </p>
                                                    <% if(login_id) {%>
                                                        <form method='post' action='iteminfo/second_reply'>
                                                            <input type="hidden" value='<%=item_info[0].item_id%>'
                                                                name='item_id'>
                                                            <input type="hidden" value='<%=reply[i].reply_idx %>'
                                                                name='reply_idx' />
                                                            <textarea class="input_reply" wrap="hard"
                                                                name='input_reply'></textarea>
                                                            <input class="reply_button" type="submit" value="댓글 등록" />
                                                        </form>
                                                        <% } else{ %>
                                                            <p class="reply_id_area"><a href="/login"
                                                                    style="text-decoration: underline;">로그인</a>후
                                                                이용해주세요.
                                                            </p>
                                                            <% } %>
                                                </div>
                                            </div>
                                        </div>
                        </div>
            </div>
            <% } } %>
                <hr class="reply_division_line">
                <form action="iteminfo/reply" method='post' id='first_replay_form'>
                    <div class="input_info">
                        <p class="reply_id_area">
                            <%= login_id %>
                        </p>
                    </div>
                    <input type="hidden" value='<%= item_info[0].item_id %>' name='item_id' />
                    <div class="reply_textarea">
                        <textarea class="input_reply" wrap="hard" name='input_reply'></textarea>
                    </div>
                    <input type="submit" class="reply_button" value="댓글등록">
                </form>
    </div>
</section>